<div class="content-wrapper" id="div_index" style="background-color: #f4f6f9;"></div>
<input type="hidden" id="page">
@section Scripts{
<script src="~/AdminLTE-3.1.0/plugins/inputmask/jquery.inputmask.min.js"></script>
}