@model Product_ViewModel
@{
  Layout = null;
}
<link rel="stylesheet" href="~/css/product.css">

<style>
  .active {
    border-color: coral;
  }
</style>
<section class="content">

  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none" id="title_name">ข้อมูลสินค้า</h3>
          <div>
            <button id="img_del" class="btn btn-danger btn-lg btn-flat col-12">
              Delete picture
            </button>
          </div>

          <div class="col-12 text-center div-main">
            <input type="text" id="img_id">
            <input type="number" id="img_row">
            <img id="img_main" class="main-picture" src="~/data/system/add_item.png" alt="Product Image">
          </div>

          <div id="divpics" class="col-12 product-image-thumbs">

                  <div id="divpic1" class="product-image-thumb"><img id="pic1" alt="Product Image" src=""></div>
     
                  <div id="divpic2" class="product-image-thumb"><img id="pic2" alt="Product Image" src=""></div>
          
                  <div id="divpic3" class="product-image-thumb"><img id="pic3" alt="Product Image" src=""></div>
         
                  <div id="divpic4" class="product-image-thumb"><img id="pic4" alt="Product Image" src=""></div>
           
                  <div id="divpic5" class="product-image-thumb"><img id="pic5" alt="Product Image" src=""></div>
      
          </div>
          <div class="form-group">

            @* <center>
              <img id="img0" alt="" width="120" src="/asset/img/add-shop.png"
              class="img-fluid img-thumbnail rounded-corners ion ion-person-add" onclick="javascript:selectImage()"
              style="cursor: pointer;height:120px;object-fit:cover;">
              <img id="imagePreview" alt="" width="120"
              class="img-fluid img-thumbnail rounded-corners ion ion-person-add" onclick="javascript:selectImage()"
              style="cursor: pointer;height:120px;object-fit:cover;">

              </center>
              <input type="file" hidden id="file" name="file" accept="image/x-png,image/jpg,image/jpeg">*@

          </div>
          <div class="mt-4">
            <div id="btn_addpic" class="btn btn-outline-success btn-block btn-lg btn-flat col-12">
              <i id="i_form" class="fas fa-plus"></i>
            </div>
          </div>
          <input type="file" id="filepic1" name="filepic1" accept="image/x-png,image/jpg,image/jpeg">
          <input type="file" id="filepic2" name="filepic2" accept="image/x-png,image/jpg,image/jpeg">
          <input type="file" id="filepic3" name="filepic3" accept="image/x-png,image/jpg,image/jpeg">
          <input type="file" id="filepic4" name="filepic4" accept="image/x-png,image/jpg,image/jpeg">
          <input type="file" id="filepic5" name="filepic5" accept="image/x-png,image/jpg,image/jpeg">

          

        </div>
        <div class="col-12 col-sm-6">
          @* <h3 class="my-3">xxxxxxxxxxx</h3> *@
          <h3>ข้อมูลสินค้า</h3>
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <label for="exampleInputBorder"><code>ชื่อสินค้า</code>@* <code>.form-control-border</code>*@</label>
              <input type="text" class="form-control form-control-border border-width-2" id="exampleInputBorder"
                placeholder="ระบุชื่อสินค้า...">
            </div>
            <div class="form-group col-12 col-sm-6">
              <label for="exampleInputBorder"><code>หน่วย</code></label>
              <input type="text" class="form-control form-control-border border-width-2" id="exampleInputBorder"
                placeholder="ระบุหน่วย...">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <label for="exampleInputBorder"><code>หมวดหมู่สินค้า</code></label>
              <select class="form-control form-control-border border-width-2">
                <option value="">กรุณาเลือกหมวดหมู่สินค้า</option>
                @foreach (var itemCategory in Model.MP_ProductCategory)
                {
                  <option value="@itemCategory.category_code">@itemCategory.category_name_th</option>
                }
              </select>
            </div>
            <div class="form-group col-12 col-sm-6">
              <label for="exampleInputBorder"><code>กลุ่มสินค้า</code></label>
              <select class="form-control form-control-border border-width-2">


              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <label for="exampleInputBorder"><code>หน่วย</code></label>
              <input type="text" class="form-control form-control-border border-width-2" id="exampleInputBorder"
                placeholder="ระบุหน่วย...">
            </div>
            <div class="form-group col-12 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">ส่งตรงจากโรงงาน</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">สินค้า Catagory Kikller</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">สินค้า Rare Item</label>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <div class="form-group form-check">
                <input id="color_attr" class="form-check-input" type="checkbox">
                <label class="form-check-label">สี</label>
              </div>
            </div>
            <div class="form-group col-12 col-sm-6">
              <div class="form-group form-check">
                <input id="size_attr" class="form-check-input" type="checkbox">
                <label class="form-check-label">ขนาด</label>
              </div>
            </div>
          </div>





          <br>

          <div id="div_color">
            <h4>ระบุสีสินค้า</h4>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-default text-center">
                <input type="radio" name="color_option" id="color_option_a1" autocomplete="off">
                Green
                <br>
                <i class="fas fa-circle fa-2x text-green"></i>
              </label>
              <label class="btn btn-default text-center"> @*Add class active here*@
                <input type="radio" name="color_option" id="color_option_a2" autocomplete="off">
                Blue
                <br>
                <i class="fas fa-circle fa-2x text-blue"></i>
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="color_option" id="color_option_a3" autocomplete="off">
                Purple
                <br>
                <i class="fas fa-circle fa-2x text-purple"></i>
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="color_option" id="color_option_a4" autocomplete="off">
                Red
                <br>
                <i class="fas fa-circle fa-2x text-red"></i>
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="color_option" id="color_option_a5" autocomplete="off">
                Orange
                <br>
                <i class="fas fa-circle fa-2x text-orange"></i>
              </label>
            </div>
          </div>

          <div id="div_size">
            <h4 class="mt-3">Size <small>ระบุขนาดสินค้า</small></h4>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-default text-center">
                <input type="radio" name="size_option" id="size_option_b1" autocomplete="off">
                <span class="text-xl">S</span>
                <br>
                Small
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="size_option" id="size_option_b2" autocomplete="off">
                <span class="text-xl">M</span>
                <br>
                Medium
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="size_option" id="size_option_b3" autocomplete="off">
                <span class="text-xl">L</span>
                <br>
                Large
              </label>
              <label class="btn btn-default text-center">
                <input type="radio" name="size_option" id="size_option_b4" autocomplete="off">
                <span class="text-xl">XL</span>
                <br>
                Xtra-Large
              </label>
            </div>
          </div>

          <div class="row bg-gray py-2 px-3 mt-4">


            <div class="form-group col-6">
              <label for="">ราคาขายปลีก</label>
              <div class="input-group mb-3">

                <div class="input-group-append">
                  <div class="input-group-text">
                    <b>฿</b>
                    @* <span class="fas fa-envelope"></span> *@
                  </div>
                </div>
                <input type="number" class="form-control" placeholder="กรุณาระบุราคา...">

              </div>


            </div>
            <div class="form-group col-6">
              <label for="">ราคาขายส่ง</label>
              <div class="input-group mb-3">

                <div class="input-group-append">
                  <div class="input-group-text">
                    <b>฿</b>
                    @* <span class="fas fa-envelope"></span> *@
                  </div>
                </div>
                <input type="number" class="form-control" placeholder="กรุณาระบุราคา...">

              </div>


            </div>

            <div class="form-group col-12">
              <h4 class="mt-0">
                <small>หน่วยเงิน : บาท </small>
              </h4>
            </div>

          </div>


          <div class="mt-4">
            <div style="width: 150px;" class="btn btn-warning btn-lg btn-flat">
              Cencel
            </div>
            <div style="width: 150px;" class="btn btn-success btn-lg btn-flat">
              Save
            </div>


          </div>




        </div>
      </div>
      <div class="row mt-4">
        <nav class="w-100">
          <div class="nav nav-tabs" id="product-tab" role="tablist">
            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab"
              aria-controls="product-desc" aria-selected="true">รายละเอียดสินค้า</a>
            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab"
              aria-controls="product-comments" aria-selected="false">ข้อมูลเชิงเทคนิค</a>
            <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab"
              aria-controls="product-rating" aria-selected="false">เกี่ยวกับการส่ง และอื่นๆ</a>
          </div>
        </nav>
        <div class="tab-content p-3" id="nav-tabContent">
          <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
            สีแท้ 100% จาก TOA</div>
          <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
            ทางเทคนิคแล้ว เขาห้ามเล่น ห้ามกิน และห้ามใช้
            บลาๆๆๆๆๆ</div>
          <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">
            ขนส่งด้วยเครื่องบินเจ็ท บลาๆๆๆๆๆ</div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>




<script src="~/js/Product/Item/Fuc.js"></script>
<script src="~/js/Product/Item/Form.js"></script>