@{
    Layout = null;
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HTML DOM - Drag and drop table column</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro&display=swap"
        />
        
        <style>
            .table {
                border: 1px solid #ccc;
                border-collapse: collapse;
            }
            .table th,
            .table td {
                border: 1px solid #ccc;
            }
            .table th,
            .table td {
                padding: 0.5rem;
            }
            .draggable {
                cursor: move;
                user-select: none;
            }
            .placeholder {
                background-color: #edf2f7;
                border: 2px dashed #cbd5e0;
            }
            .clone-list {
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                display: flex;
            }
            .clone-table {
                border-collapse: collapse;
                border: none;
            }
            .clone-table th,
            .clone-table td {
                border: 1px solid #ccc;
                border-left: none;
                border-top: none;
                padding: 0.5rem;
            }
            .dragging {
                background: #fff;
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                z-index: 999;
            }
        </style>
    </head>
    <body>
        <table id="table" class="table">
            <thead>
                <tr>
                    <th data-type="number"><input type="text" id="th0" value="0"></th>
                    <th><input type="text" class="thtable" id="th1" value="1"></th>
                    <th><input type="text" class="thtable" id="th2" value="2"></th>
                    <th><input type="text" class="thtable" id="th3" value="3"></th>
                </tr>
            </thead>
            
        </table>
<script type="text/javascript" src="~/js/Testing/table.js"></script>
    </body>
</html>