.colortest{
  color: red;
}
.div-main {
  /* height: 500px;
    width: auto; */

  /* height: auto; */
  /* width: 80%; */
  /* width: 80%; */
  /* max-height: 500px; */
  height: 350px;

  /* max-width: 80%; */
  /* width: 100%; */
}
.main-picture {
  max-width: 80%;
  max-height: 250px;
}
/* @media (min-width: 370px) {
    .div-main{
        height: 280px;
      }
  }

  @media (min-width: 400px) {
    .div-main{
        height: 30px;
      }
  }

  @media (min-width: 560px) {
    .div-main{
        height: 400px;
      }
  }*/

/* @media (min-width: 300px) {
    .div-main{
        height: 400px;
      }
      .main-picture{
        max-height: 400px; 
        width: 80%;
      }
  } */

@media (min-width: 400px) {
  .div-main {
    height: auto;
  }
  .main-picture {
    /* max-height: 200px; */
    width: 50%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .div-main {
    height: 250px;
  }
  .main-picture {
    height: auto;
    /* max-height: 250px; */
    max-width: 80%;
  }
}

@media (min-width: 750px) {
  .div-main {
    height: 300px;
  }
  .main-picture {
    max-height: 300px;
    width: 80%;
  }
}

@media (min-width: 800px) {
  .div-main {
    height: 350px;
  }
  .main-picture {
    /* max-height: 350px;
    width: 80%; */
    max-width: 80%;
    max-height: 80%;
    height: auto;
    width: auto;
  }
}

.btn-disabled{
  background-color: #fff;
  color: #fff;  
}

/******************************/
.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f;
}
.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #4f4f4f;
}


.form-dark .md-form label {
  color: #fff;
}
.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}
.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff;
}
.form-dark textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
  color: #fff;
}
.form-dark textarea.md-textarea  {
  color: #fff;
}
.form-dark .form-control, .form-dark .form-control:focus {
  color: #fff;
}
.form-dark .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #fff;
}
